@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap%27");
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap%27');

* {
	font-family: monospace;
	user-select: none;
}

body {
	text-align: center;
}

h1 {
	font-size: 2.2em;
	margin-bottom: 5px;
}

h2 {
	margin: 5px;
}

div.containerSetas {
	justify-content: center;
	display: flex;
}

/*p.seta {*/
/*	border-radius: 50%;*/
/*	margin: 4px;*/
/*	padding: 10px;*/
/*	background: lightgreen;*/
/*	color: black;*/
/*	font-size: 40px;*/
/*	font-family: monospace;*/
/*	cursor: pointer;*/
/*}  */

div#tabuleiro {
	display: grid;
	justify-content:center ;
}

div.linha {
	display: flex;
}

div.quadrado {
	color: transparent;
	width: 5px;
	height: 5px;
	margin: 2px;
	padding: 30px;
	background: lightgray;
}

div.active {
	background: green;
}

div.objective {
	background: #d0d929;
}

div.enemy {
	background: #800000;
}

h2#time {
	margin: 0;
}

span#moreSeconds {
	color: green;
}

button.gameButton {
	font-family: 'Acme', serif;
	border-radius: 12px;
	font-size: 1.2em;
	padding: 12px 34px;
}

.invisible {
	display: none;
}

div.abaixoTabuleiro {
	margin-top: 4px;
	justify-content: center;
	display: grid;
	grid-template-columns: 250px 250px;
	grid-template-rows: 1fr;
	gap: 0;
}

div.botoes {
	display: flex;
	margin: 0 -30px;
}

div.botoes button {
	margin: 0 4px;
}

div.menuItens {
	width: 172px;
	display: flex;
}

div.espacoItem {
	color: transparent;
	min-width:40px ;
	border: 2px solid black;
}

div.quadradoItem {
	background: purple;
}

div.itemClicado {
	border: 2px solid yellow !important;
}

div.containerTitulo {
	display: flex;
	justify-content: center;

}

img.imagemTema {
	position: absolute;
	right: 2px;
	width: 20px;
}

.hidden {
	display: none !important;
}