* {
	font-family: monospace;
	user-select: none;
}

body {
	text-align: center;
}


h1 {
	font-size: 4em;
	margin-bottom: 20px;
}

div.containerSetas {
	justify-content: center;
	display: flex;
}

p.seta {
	border-radius: 50%;
	margin: 4px;
	padding: 10px;
	background: lightgreen;
	color: black;
	font-size: 40px;
	font-family: monospace;
	cursor: pointer;
}

div#tabuleiro {
	display: grid;
	justify-content:center ;
}

div.linha {
	display: flex;
}

div.quadrado {
	color: transparent;
	width: 5px;
	height: 5px;
	margin: 2px;
	padding: 40px;
	background: indianred;
}

div.active {
	background: green;
}

div.objective {
	background: yellow;
}

div.enemy {
	background: red;
}

h2#time {
	margin: 0;
}

span#moreSeconds {
	color: green;
}