body {
	text-align: center;
}

h1 {
	font-size: 4em;
	margin-bottom: 20px;
}

div.containerSetas {
	justify-content: center;
	display: flex;
}

p.seta {
	border-radius: 50%;
	margin: 4px;
	padding: 10px;
	background: lightgreen;
	color: black;
	font-size: 40px;
	font-family: monospace;
}

div.tabuleiro {
	display: grid;
	justify-content:center ;
}

div.linha {
	display: flex;
}

div.quadrado {
	margin: 2px;
	padding: 40px;
	background: indianred;
}